@charset "utf-8";

/*------------------*/
/*-- Fonts --*/
/*------------------*/

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter18pt-SemiBold.eot');
    src: url('fonts/Inter18pt-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter18pt-SemiBold.woff2') format('woff2'),
        url('fonts/Inter18pt-SemiBold.woff') format('woff'),
        url('fonts/Inter18pt-SemiBold.ttf') format('truetype'),
        url('fonts/Inter18pt-SemiBold.svg#Inter18pt-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter18pt-Regular.eot');
    src: url('fonts/Inter18pt-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter18pt-Regular.woff2') format('woff2'),
        url('fonts/Inter18pt-Regular.woff') format('woff'),
        url('fonts/Inter18pt-Regular.ttf') format('truetype'),
        url('fonts/Inter18pt-Regular.svg#Inter18pt-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*-------------------------------------------*/
/* BASIC SETUP */
/*-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    -webkit-text-size-adjust: 100%;
}

html,
body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
}

body {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2D3D8A;
}

.wrapper {
    position: relative;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.content {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

::-webkit-input-placeholder {color:#555555;}
::-moz-placeholder          {color:#555555;}
:-moz-placeholder           {color:#555555;}
:-ms-input-placeholder      {color:#555555;}

input,
textarea,
button,
select,
a,
img {
    outline: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance;
    text-indent: 0.01px;
    text-overflow: "";
}

*::-ms-expand { display: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input {
    -webkit-appearance: none;
    -moz-appearance
}

button {
    -webkit-appearance: none;
    -moz-appearance
}

textarea {
    resize: none;
    overflow: auto;
    -webkit-appearance: none;
    -moz-appearance;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity .3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity .3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity .3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

.clearfix:after,
.clearfix:before {
    display: block;
    content: "";
}

/*-------------------------------------------*/
/* ----- DEFAULT STYLES ------ */
/*-------------------------------------------*/

section {
    position: relative;
    padding: 10px 0;
}

h1 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    color: #FFF;
}

h2 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #2D3D8A;
}

h3 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #2D3D8A;
}

h4 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2D3D8A;
}

p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2D3D8A;
}

a {
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #2D3D8A;
}

li {
    list-style: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    color: #2D3D8A;
}

img {
    outline: none;
    border: 1px solid transparent;
    border: none;
}

button:hover,
button:active,
a:hover,
a:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

input {

}

input:focus {

}

textarea {

}

textarea:focus {

}

/*-------------------------------------------*/
/* ----- REUSABLE COMPONENTS ------ */
/*-------------------------------------------*/

.row {
    width: 100%;
    max-width: 1350px;
    padding: 0 25px;
    margin: 0 auto;
}

.overflow_wrapp {
    overflow: hidden;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_left {
    text-align: left;
}

/*-------------------------------------------*/
/* ----- HEADER ------ */
/*-------------------------------------------*/

#header {
    width: 100%;
    position: fixed;
    top: 30px;
    left: 0;
    z-index: 3;
}

#header.scroll {
    top: 0;
    background: rgba(0, 0, 0, .3);
}

.header_site {
    display: flex;
}

.header_site > .left_col {
    width: 365px;
}

.header_site > .right_col {
    display: flex;
    width: calc(100% - 365px);
}

.logo {
    display: inline-block;
    vertical-align: top;
}

.logo img {
    display: block; 
    width: auto;
    max-width: 100%;
}

.inlines {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background: rgba(255, 255, 255, .33);
}

.inlines > div {
    padding: 10px 12px;
}

.tel_link {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    border-bottom: 1px solid transparent;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFF;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.tel_link:hover {
    border-bottom: 1px solid #fff;
}

.resp_nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
}

.resp_nav li {
    padding: 5px 22px;
}

.resp_nav li a {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.resp_nav li a:hover,
.resp_nav li a.active {
    color: #fff;
}

/* ----- Responsive Menu Button ------ */

.respmenubtn {
    display: none;
    width: 26px;
    height: 26px;
    background: transparent;
    cursor: pointer;
    z-index: 11;
    border: 1px solid transparent;
}

.respmenubtn span {
    display: block;
    width: 35px;
    height: 5px;
    background: #F54D40;
    margin: 0 auto 6px auto;
    -webkit-transition-property: transform, border, background;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: transform, border, background;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: transform, border, background;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: transform, border, background;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: transform, border, background;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.respmenubtn span:last-child {
    margin: 0 auto;
}

.respmenubtn:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent;
}

.respmenubtn:hover span {
    background: #FD8C04;
}

.respmenubtn.active span {
    position: relative;
    width: 40px;
    top: -3px;
    left: -2px;
    background: #FD8C04;
}

.respmenubtn.active span:last-child {
    display: none;
}

.respmenubtn.active span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 3px 0 0 0;
    position: relative;
    top: 2px;
    left: -2px;
}

.respmenubtn.active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* ----- / Responsive Menu Button ------ */

/*-------------------------------------------*/
/* ----- CONTENT ------ */
/*-------------------------------------------*/

/*-- Section 1 - Main Page --*/

.promo {
    display: flex;
    align-items: flex-end;
    min-height: 100vh;
    padding: 175px 0 49px 0;
    position: relative;
    background-image: url(img/promo.jpg);
    background-size: cover;
    background-position: center;
}

.promo:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .59);
    position: absolute;
    top: 0;
    left: 0;
}

.promo > div {
    position: relative;
    z-index: 2;
}

.promo_descript {
    max-width: 890px;
}

.promo_descript h2 {
    text-transform: uppercase;
    padding: 5px 0;
    font-size: 40px;
    line-height: 48px;
    color: #F66D65;
}

.promo_descript h1 {
    padding: 7px 0;
}

.promo_descript > p {
    padding: 20px 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.btns_inlines {
    display: flex;
    flex-wrap: wrap;
    margin: 5px -15px;
}

.btns_inlines > div {
    padding: 10px 15px 15px 15px;
}

.blue_pill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 58px;
    padding: 5px 25px;
    background-color: #2D3D8A;
    border-radius: 8px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFF;
}

.transparent_pill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 58px;
    padding: 5px 25px;
    border: 1px solid #F66D65;
    background-color: transparent;
    border-radius: 8px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFF;
}

.tel_thumb {
    display: inline-flex;
}

.tel_thumb > div:nth-child(1) {
    width: 50px;
}

.tel_thumb > div:nth-child(2) {
    width: calc(100% - 50px);
    padding-top: 3px;
}

.tel_thumb p {
    padding: 4px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFF;
}

/*-- /Section 1 - Main Page --*/

/*-- Section 2 - Main Page --*/

.sect_2 {
    padding: 0;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
    background: #E4E7F6;
}

.thumbs_col {
    width: 50%;
}

.thumb {
    display: flex;
    min-height: 205px;
    align-items: center;
    position: relative;
}

.thumbs_col:nth-child(1) .thumb:nth-child(even) {
    background: #fff;
}

.thumbs_col:nth-child(2) .thumb:nth-child(odd) {
    background: #fff;
}

.thumbs_col:nth-child(2) .thumb:nth-child(even) > div:nth-child(2) {
    text-align: center;
}

.thumbs_col:nth-child(1) .thumb:nth-child(even) .triangle {
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 75px 95px 75px 0;
   border-color: transparent transparent transparent #FFFFFF;
   position: absolute;
   top: 0;
   right: -94px;
}

.thumbs_col:nth-child(2) .thumb:nth-child(odd) .triangle {
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 75px 0 75px 95px;
   border-color: transparent #FFFFFF transparent transparent;
   position: absolute;
   top: 0;
   left: -94px;
}

.thumb > div:nth-child(1) {
    width: 177px;
    padding-left: 30px;
}

.thumb > div:nth-child(2) {
    width: calc(100% - 177px);
    padding-right: 100px;
}

.thumbs_col:nth-child(2) .thumb > div:nth-child(1) {
    width: 177px;
    padding-right: 30px;
    order: 2;
}

.thumbs_col:nth-child(2) .thumb > div:nth-child(2) {
    width: calc(100% - 177px);
    padding-left: 100px;
    padding-right: 0;
    order: 1;
}

.thumb > div:nth-child(1) img {
    max-width: 100px;
    max-height: 100px;
}

.thumb p {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #1E1E1E;
}

.thumb p a {
    color: #F66D65;
}

/*-- /Section 2 - Main Page --*/

/*-- Section 3 - Main Page --*/

.sect_3 {
    background: #2D3D8A;
    padding-bottom: 0;
}

.h2_wrapp {
    padding: 57px 0 57px 0;
}

.h2_wrapp.white h2 {
    color: #fff;
}

.article_wrapp {
    background: #E4E7F6;
    position: relative;
}

.article {
    display: flex;
}

.article > div:nth-child(1) {
    width: 50%;
    padding: 30px 10px 30px 0;
}

.article_wrapp img {
    width: 50%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.line {
    padding-bottom: 24px;
}

.line_item {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    padding: 10px 10px 10px 100px;
    position: relative;
    min-height: 65px;
}

.line_item:before {
    display: block;
    content: "";
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #F66D65;
    background-image: url(img/ch.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.line_item:after {
    display: block;
    content: "";
    width: 6px;
    height: calc(100% + 35px);
    position: absolute;
    top: 5px;
    left: 29px;
    background-color: #F66D65;
}

.line_item:last-child:after {
    display: none;
}

.line_item p {
    font-size: 24px;
    line-height: 29px;
    color: #000;
}

.line_item p a {
    font-size: 24px;
    line-height: 29px;
    border-bottom: 1px solid transparent;
    color: #F66D65;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.line_item p a:hover {
    border-bottom: 1px solid #F66D65;
}

/*-- /Section 3 - Main Page --*/

/*-- Section 4 - Main Page --*/

.sect_4 {
    padding: 57px 0 67px 0;
}

.h2_two_cols {
    display: flex;
    flex-wrap: wrap;
}

.h2_two_cols > div:nth-child(1) {
    width: calc(100% - 320px);
}

.h2_two_cols > div:nth-child(2) {
    width: 320px;
    text-align: right;
    padding-top: 7px;
}

.tel_thumb {
    text-align: left;
}

.tel_thumb.blue p {
    color: #2D3D8A;
}

.thumbnails_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumb_2 {
    width: 230px;
    margin: 9px 40px;
    text-align: center;
}

.thumb_2:nth-child(1),
.thumb_2:nth-child(2),
.thumb_2:nth-child(3) {
    width: 260px;
}

.thumb_2 .icon_box {
    width: 165px;
    height: 165px;
    border-radius: 50%;
    position: relative;
    background: #F66D65;
    margin: 30px auto;
}

.thumb_2 .icon_box img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thumb_2 p {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000;
}

.thumb_2 p a {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #F66D65;
    border-bottom: 1px solid transparent;
    -webkit-transition-property: border;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.thumb_2 p a:hover {
    border-bottom: 1px solid #F66D65;
}

/*-- /Section 4 - Main Page --*/

/*-- Section 5 - Main Page --*/

.sect_5 {
    padding-top: 60px;
    position: relative;
    background-image: url(img/img_02.jpg);
    background-size: cover;
    background-position: center;
}

.sect_5:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .59);
    position: absolute;
    top: 0;
    left: 0;
}

.sect_5 > .row {
    position: relative;
    z-index: 2;
}

.h2_two_cols.white h2 {
    color: #fff;
}

.thumbnails_3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 303px 0;
}

.thumb_3 {
    display: flex;
    width: calc(50% - 160px);
    background: rgba(255, 255, 255, .5);
    align-items: center;
    margin: 35px 0;
    padding: 84px 50px 83px 50px;
    border-radius: 8px;
    position: relative;
}

.thumb_3:nth-child(odd) {
    margin-right: 80px;
}

.thumb_3:nth-child(odd):after {
    display: block;
    content: "";
    width: 120px;
    height: 120px;
    background-image: url(img/left_arrow.svg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    left: calc(100% + 15px);
}

.thumb_3:nth-child(even) {
    margin-left: 80px;
    position: relative;
    top: 160px;
}

.thumb_3:nth-child(even):after {
    display: block;
    content: "";
    width: 120px;
    height: 120px;
    background-image: url(img/right_arrow.svg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: calc(50% + 32px);
    right: calc(100% + 15px);
}

.thumb_3:last-child:after {
    display: none;
}

.thumb_3 > div:nth-child(1) {
    width: 138px;
}

.thumb_3 > div:nth-child(2) {
    width: calc(100% - 138px);
}

.thumb_3 .icon_box {
    width: 104px;
    height: 104px;
    border-radius: 50%;
}

.thumb_3 .icon_box img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.thumb_3 p {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000;
}

/*-- /Section 5 - Main Page --*/

/*-- Section 6 - Main Page --*/

.sect_6 {
    background-color: #E4E7F6;
    padding-bottom: 60px;
}

.h2_wrapp_2 {
    padding-top: 38px;
}

.h2_wrapp p {
    padding: 55px 0 0 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #000;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    padding-bottom: 53px;
}

.gallery > div:nth-child(1) {
    width: 41.5%;
}

.gallery > div:nth-child(2) {
    width: 58.5%;
}

.gallery img {
    display: inline-block;
    vertical-align: top;
    width: auto;
    max-width: calc(100% - 40px);
    object-fit: cover;
    object-position: center;
    margin: 22px 20px;
}

.gallery_resp {
    display: none;
}

.btn_wrapp {
    text-align: center;
}

/*-- /Section 6 - Main Page --*/

/*-- Section Calc --*/

.sect_calc {
    background-color: #E4E7F6;
}

.sect_calc:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(img/calc_bg.svg);
    background-position: right 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.sect_calc > .row {
    position: relative;
    z-index: 2;
}

.h2_wrapp_range {
    padding-bottom: 10px;
}

.calculator__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.calculator__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin: 10px 10px;
    background-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 30px;
    text-align: center;
    border: 2px solid #f66d65;
    color: #272727;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    -webkit-transition-property: border, background, color;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: border, background, color;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: border, background, color;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: border, background, color;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: border, background, color;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.calculator__item:hover,
.calculator__item.active {
    background-color: #2d3d8a;
    color: #fff;
    border-color: #2d3d8a;
}

.calc__text {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.calculator__list {
    padding: 12px 0 20px 0;
}

.calculator__list select {
    height: 47px;
    padding: 12px;
    width: 100%;
    max-width: 340px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    background-color: #fff;
    background-image: url(img/select_arrow.svg);
    background-position: calc(100% - 10px) 12px;
    background-repeat: no-repeat;
    background-size: 20px 20px
}

.range_wrapp {
    max-width: 500px;
}

.range_wrapp h3 {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
}

.range .irs-min,
.range .irs-max {
    display: none;
}

.range {
    padding-bottom: 30px;
}

.range .irs-line {
    background: rgba(45, 61, 138, .7) !important;
    height: 9px !important;
}

.range .irs-bar {
    background: #2D3D8A !important;
    height: 9px !important;
}

.range .irs--flat .irs-single {
    top: 45px;
    background-color: transparent;
    padding: 0;
    font-size: 16px;
    color: #000;
}

.range .irs--flat .irs-single:before {
    display: none;
}

.range_footer {
    display: flex;
    flex-wrap: wrap;
}

.range_footer > div:nth-child(1) {
    width: calc(100% - 180px);
}

.range_footer > div:nth-child(2) {
    width: 180px;
}

.range_footer h3 {
    display: block;
    font-size: 36px;
    line-height: 36px;
    color: #000;
    font-weight: 700;
}

#rangeVal {
    display: block;
    width: 100%;
    margin-top: 1px;
    height: 36px;
    border: none;
    background: transparent;
    font-size: 36px;
    line-height: 36px;
    color: #000;
    font-weight: 700;
    text-align: right;
}

.range_btn {
    padding: 63px 0 50px 0;
}

.range_btn .blue_pill {
    width: 100%;
}

/*-- /Section Calc --*/

/*-- Section 7 - Main Page --*/

.sect_7 {
    position: relative;
    background-image: url(img/img_11.jpg);
    background-size: cover;
    background-position: center;
}

.sect_7:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .59);
    position: absolute;
    top: 0;
    left: 0;
}

.sect_7 > div {
    position: relative;
    z-index: 2;
}

.h2_wrapp_3 {
    padding: 52px 0 25px 0;
}

.slider_wrapp {
    padding-bottom: 100px;
    height: 700px;
}

.slider_wrapp.ready {
    height: auto;
}

.slider {
    margin: 0 -15px;
}

.rev {
    width: 421px;
    background: #E4E7F6;
    border-radius: 8px;
    margin: 15px;
    padding: 10px 34px 22px 34px;
}

.rev_header {
    display: flex;
    padding: 21px 0 17px 0;
}

.rev_header > div:nth-child(1) {
    width: 100px;
}

.rev_header > div:nth-child(2) {
    width: calc(100% - 99px);
}

.rev_header > div:nth-child(1) img {
    width: 76px;
    height: 76px;
    background: #2D3D8A;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.rev_header h3 {
    padding: 7px 0 10px 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #2D3D8A;
}

.rev_header p {
    font-size: 24px;
    line-height: 29px;
    color: #000;
}

.rev_content {
    min-height: 438px;
    background: #FFF;
    border-radius: 8px;
    padding: 12px 10px 10px 10px;
}

.rev_content p {
    font-size: 20px;
    line-height: 24px;
    color: #2D3D8A;
}

.slick-prev {
    background-image: url(img/prev_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 42px 38px;
}

.slick-next {
    background-image: url(img/next_slide.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 42px 38px;
}

.slick-arrow {
    display: block;
    width: 77px;
    height: 77px;
    background-color: #F66D65;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
}

.slider .slick-arrow {
    position: absolute;
    bottom: -88px;
    left: 50%;
}

.slider .slick-prev {
    left: calc(50% - 88px);
}

.slider .slick-next {
    left: calc(50% + 12px);
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 65px;
}

.logos img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
}

/*-- /Section 7 - Main Page --*/

/*-- Section 8 - Main Page --*/

.sect_8 {
    padding-bottom: 115px;
    background: #E4E7F6;
}

.h2_wrapp_4 {
    padding: 47px 0 35px 0;
}

.form_box_sect {
    max-width: 1252px;
    margin: 0 auto;
}

.form_box {
    background: #2D3D8A;
    border-radius: 8px;
    margin-bottom: 30px;
    padding: 39px 100px 55px 100px;
}

.form_box_title {
    padding: 24px 0 24px 0;
    text-align: center;
}

.form_box_title h2 {
    font-size: 40px;
    line-height: 50px;
    color: #FFF;
}

.input_wrapp {
    background: #FFF;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    margin: 20px 0;
}

.input_wrapp img {
    position: absolute;
    top: 16px;
    left: 13px;
}

.input_wrapp input {
    display: block;
    width: 100%;
    height: 71px;
    background: #FFF;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, .25);
    border-radius: 8px;
    padding: 0 10px 0 70px;
    border: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 69px;
    color: #2D3D8A;
}

.input_wrapp input::placeholder {
    color: #2D3D8A;
}

.input_wrapp textarea {
    display: block;
    width: 100%;
    height: 202px;
    background: #FFF;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, .25);
    border-radius: 8px;
    padding: 17px 10px 17px 70px;
    border: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #2D3D8A;
}

.input_wrapp textarea::placeholder {
    color: #2D3D8A;
}

.submit_wrapp {
    padding: 55px 0 0 0;
    text-align: center;
}

.red_pill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 58px;
    padding: 5px 25px;
    border: none;
    background-color: #F66D65;
    border-radius: 8px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFF;
    cursor: pointer;
}

.submit_wrapp .red_pill {
    min-width: 250px;
}

.contacts_two_cols {
    display: flex;
    flex-wrap: wrap;
}

.contacts_two_cols > div:nth-child(1) {
    width: calc(100% - 310px);
    padding: 10px 10px 10px 0;
}

.contacts_two_cols > div:nth-child(2) {
    width: 310px;
    padding: 10px 0 10px 10px;
    text-align: right;
}

.contacts_thumb {
    position: relative;
    padding: 10px 0 10px 70px;
}

.contacts_thumb img {
    position: absolute;
    top: 10px;
    left: 0;
}

.contacts_thumb p {
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #2D3D8A;
}

.contacts_thumb p:last-child {
    padding-bottom: 0;
}

.contacts_two_cols .tel_thumb {
    margin: 13px 0 0 0;
}

/*-- /Section 8 - Main Page --*/

/*-- Section 9 - Main Page --*/

.map_box {
    max-width: 1182px;
    background: #E4E7F6;
    border-radius: 8px;
    margin: 8px auto 27px auto;
    padding: 70px 85px;
}

.map_inner {
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, .25);
    border-radius: 8px;
    overflow: hidden;
}

.map {
    height: 469px;
}

.time_wrapp {
    padding: 22px 0 20px 59px;
}

.time_wrapp p {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #2D3D8A;
}

/*-- /Section 9 - Main Page --*/


/*-------------------------------------------*/
/* ----- FOOTER ------ */
/*-------------------------------------------*/

footer {
    background: #12193E;
}

.footer_section {
    padding: 0 25px;
    max-width: 1660px;
    margin: 0 auto;
}

.footer_tree_cols {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0 0 0;
}

.footer_tree_cols > div:nth-child(1) {
    width: 39%;
    padding: 10px 10px 10px 0;
}

.footer_tree_cols > div:nth-child(2) {
    width: 25%;
    padding: 10px 10px 10px 10px;
}

.footer_tree_cols > div:nth-child(3) {
    width: 18%;
    padding: 10px 10px 10px 10px;
}

.footer_tree_cols > div:nth-child(4) {
    width: 18%;
    padding: 10px 0 10px 10px;
    display: flex;
    justify-content: flex-end;
}

.footer_logo {
    display: inline-block;
    vertical-align: top;
}

.footer_logo img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}

.footer_logo a {
    display: block;
    width: auto;
    height: auto;
}

.footer_logo_descript {
    padding: 3px 0;
}

.footer_logo_descript p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFF;
}

.time_thumb {
    display: flex;
    align-items: center;
    padding: 12px 0 17px 0;
}

.time_thumb img {
    width: 28px;
    height: auto;
}

.time_thumb p {
    padding-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFF;
}

.footer_text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFF;
}

.h3_wrapp {
    padding: 7px 0 0 0;
}

.h3_wrapp h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: #FFF;
}

.service_nav {
    max-width: 177px;
    padding: 16px 0 16px 0;
}

.service_nav li a {
    display: block;
    padding: 15px 10px 10px 10px;
    text-align: center;
    border-bottom: 1px solid #F66D65;
    font-size: 16px;
    line-height: 140%;
    color: #FFF;
}

.footer_nav {
    padding: 27px 0 20px 0;
}

.footer_nav li {
    padding: 5px 0;
}

.footer_nav li a {
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFF;
}

.contacts_items {
    padding: 19px 0 0 0;
}

.contacts_items > div {
    padding: 2px 0;
}

.contacts_item {
    display: inline-flex;
    align-items: center;
}

.contacts_item > div:nth-child(1) {
    width: 30px;
}

.contacts_item > div:nth-child(2) {
    width: calc(100% - 30px);
}

.contacts_item > div:nth-child(1) img {
    max-width: 20px;
    height: auto;
}

.contacts_item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFF;
}

.soc_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7px;
}

.soc_list li {
    padding: 7px;
}

.soc_list li a {
    display: inline-block;
    vertical-align: top;
}

.soc_list li a img {
    width: 20px;
    height: auto;
}

.seo_text {
    padding: 12px 0 10px 0;
    border-top: 1px solid #F66D65;
    border-bottom: 1px solid #F66D65;
}

.seo_text p {
    line-height: 1.5;
    font-weight: 400;
    word-spacing: 20px;
    font-size: 16px;
    color: #FFF;
}

.footer_two_cols {
    display: flex;
    flex-wrap: wrap;
    padding: 11px 0 30px 0;
}

.footer_two_cols > div:nth-child(1) {
    width: 60%;
    padding: 10px 10px 10px 0;
}

.footer_two_cols > div:nth-child(2) {
    width: 40%;
    padding: 10px 0 10px 10px;
    text-align: right;
}

.politic {
    line-height: 100%;
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    text-decoration: underline;
}

.politic:hover {
    text-decoration: none;
}

.corp {
    line-height: 100%;
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
}

.call_btn {
    display: block;
    width: 137px;
    height: 137px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    background-image: url(img/call_btn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 2;
    cursor: pointer;
    animation: bounce 2s infinite;
}

@keyframes bounce {
0%, 20%, 50%, 80%, 100% {
transform: translateY(0);
}
40% {
transform: translateY(-50px);
}
60% {
transform: translateY(-20px);
}
}
